# Auto detect text files and perform LF normalization
* text=auto
Assets/_Project/Art/Environments/Stage_01/Stage1_Assets/Fabrics_Final.fbx filter=lfs diff=lfs merge=lfs -text
Assets/_Project/Art/Environments/Stage_01/Stage1_Assets/New[[:space:]]Terrain[[:space:]]3.asset filter=lfs diff=lfs merge=lfs -text
